<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script>
  function BreweriesController($scope, $http) {
    $http.get('breweries.json').success(function(data, status, headers, config) {
      $scope.breweries = data;
    });
    
    $scope.order = 'name'

    $scope.click = function(order) {
      $scope.order = order;
    }
  }
</script>

<div ng-app ng-controller="BreweriesController">
  <table>
    <thead>
    <th> <a ng-click="click('name')">name</a> </th>
    <th> <a ng-click="click('year')">year</a> </th>
    <th> <a ng-click="click('beercount')">number of beers</a> </th>
    </thead>
    <tr ng-repeat="brewery in breweries | orderBy:order">
      <td>{{brewery.name}}</td>
      <td>{{brewery.year}}</td>
      <td>{{brewery.beercount}}</td>
    </tr>
  </table>
</div>
